html {
    font-size: 62.5%;
}

body {
    background-color: $body-background;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 2.2rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

